/*Aqui no :root ele seleciona a raiz da aplicação, nesse caso 
estou alterando a cor da fonte de toda aplicacão criando 
uma variavel com o nome --title-color e colocando um valor
 de uma cor para o mesmo*/
:root {
    --title-color: #322153 ;
    --primary--color:#34cb79
}
/*"* seleciona todos os seletores"*/
* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

html{
    font-family: 'roboto' , sans-serif;
}
/*box model
modelo de caixa
toda caixa tem largura, altura, espaçamentos, preenchimentos...
*/
body {
background: #f0f0f5;
-webkit-font-smoothing:antialiased;
}

/*Todos os links estarão sem o sublinhado*/
a {
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Ubuntu', sans-serif;
    color: var(--title-color);

}




